*,*::before,*::after{
    box-sizing:border-box;
}
#root {
    width: 88%;
    height: 98%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    background-color: white;
}
.btns{
    font-family: Consolas;
    text-align: center;
    padding: 1%;
}

.btns button{
    height: 25px;
    width: 150px;
    background: dodgerblue;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    font-weight: bold;
}

.sunbmit{
    margin-top: 1%;
    margin-left: 5%;
    font-family: Consolas;
    text-align: left;
    padding: 1%;
}
#submit{
    height: 25px;
    width: 120px;
    background: green;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    font-weight: bold;
}

#psgMsg {
    text-align: center;
    padding: 0;
    margin: 0;
}
#psgMsg p{
    margin: 0;
}
#psgMsg input{
    width: 80%;
}
