*,*::before,*::after{
    box-sizing:border-box;
}
#root {
    width: 80%;
    height: auto;
    min-height: 98%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    background-color: white;
}
.title{
    text-align: center;
}
.title h1{
    font-size: 3.5rem;
}
.content {

}
